

div.box-com{
	width: 4rem;
	height: 100vh;
	background: #f8f8f6;
}

div.com-box{
	width: 4rem;
}

p.com-kong{
	width: 4rem;
	height: .10625rem;
}

div.com-cont{
	width: 4rem;
	height: 1.325rem;
	background: #fff;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}

div.cont-text{
	width: 3.5875rem;
	margin: .16rem auto 0;
}

div.cont-text p{
	font-size: .17rem;
	color: #666;
}

div.cont-text p:nth-child(2){
	line-height: .5rem;
}

div.cont-text p:nth-child(3){
	position: relative;
	color: #333;
}

div.cont-text p:nth-child(3) span,div.com-text2 span{
	position: absolute;
	top: .02rem;
	left: .8rem;
}

span i.off,span i.off{
	width: .19375rem;
	height: .19375rem;
	background: url('../images/index/logaa2.png');
	display: inline-block;
	background-size: cover;
}

span i.on,span i.on{
	width: .19375rem;
	height: .19375rem;
	background: url('../images/index/logaa1.png');
	display: inline-block;
	background-size: cover;
}

div.com-tlt{
	width: 2.79375rem;
	height: .45625rem;
	line-height: .45625rem;
	font-size: .15rem;
	color: #666;
	padding-left: .20625rem;
}

div.com-cont2{
	width: 4rem;
	height: .5rem;
	line-height: .5rem;
	font-size: .17rem;
	background: #fff;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}

div.com-text2{
	position: relative;
	width: 3.5875rem;
	margin: 0 auto;
}

ul.com-key{
	width: 4rem;
	background: #fff;
	border-bottom: 1px solid #f1f1f1;
}

ul.com-key li{
	width: 3.5875rem;
	height:.44rem;
	line-height: .44rem;
	margin: 0 auto;
	font-size: .17rem;
	color: #666;
}

div.com-tat{
	width: 4rem;
	height: 2.15rem;
	background: #fff;
	border-top: 1px solid #f1f1f1;
	position: relative;
}

.com-tc{
	width: 3.575rem;
	height: 1.9rem;
	font-size: .17rem;
	line-height: .3125rem;
	outline:none;
	resize:none;
	border: none;
	position: absolute;
	top: .1rem;
	left: .2125rem;
}

div.com-btn{
	width: 4rem;
	height: .5125rem;
	background: #faba2e;
	color: #fff;
	font-size: .17rem;
	text-align: center;
	line-height: .5125rem;
}