

div.box-confirm{
	width: 4rem;
	height: 100vh;
	background: #f8f8f6;
}

div.confirm-bg{
	width: 4rem;
	height: 1.34375rem;
	background: url('../images/index/cpbg.jpg');
	background-size: cover;
	position: relative;
}

div.confirm-tm{
	width: 4rem;
	height: 1.34375rem;
	background: #FFF;
	opacity:0.26;
	filter:alpha(opacity=26); 
	-moz-opacity:0.26; 
}

div.confirm-p{
	width: 1.54375rem;
	height: .94375rem;
	text-align: center;
	position: absolute;
	top: .2rem;
	left: 1.228125rem;
}

div.confirm-p p:nth-child(1){
	width: .28125rem;
	height: .28125rem;
	background: url('../images/index/cpgou.png');
	background-size: cover;
	margin-left: .63125rem;
}

div.confirm-p p:nth-child(2){
	font-size: .17rem;
	color: #fff;
	line-height: .37rem;
}

div.confirm-p p:nth-child(3){
	width: .90625rem;
	height: .28125rem;
	background: #ff644e;
	font-size: .15rem;
	text-align: center;
	line-height: .28125rem;
	color: #fff;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	margin-left: .31875rem;
}

/*订单*/

div.confirm-order{
	width: 4rem;
	margin:.1rem 0 .10625rem;
	background: #fff; 
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}


div.confirm-order p{
	width: 3.7875rem;
	height: .50625rem;
	margin-left: .2125rem;
	font-size: .17rem;
	line-height: .50625rem;
	border-bottom: 1px solid #f1f1f1;
}

div.confirm-order p span:nth-child(1){
	margin-right: .26875rem;
	color: #666;
}

div.confirm-order p span:nth-child(2){
	font-size: .13rem;
	color: #333;
}

/*菜品内容*/

div.confirm-cont{
	width: 4rem;
	background: #fff;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}

div.confirm-cont p{
	width: 3.575rem;
	margin: 0 auto ;
	font-size: .15rem;
	height: .425rem;
	position: relative;
}


div.confirm-cont p span:nth-child(1){
	font-size: .17rem;
	color: #666;
	position: absolute;
	top: .06rem;
	left: 0;
}

div.confirm-cont p span:nth-child(2){
	color: #666;
	position: absolute;
	top: .08rem;
	left: 2.7rem;
}

div.confirm-cont p span:nth-child(3){
	color: #333;
	position: absolute;
	top: .08rem;
	right: 0;
}

div.confirm-price{
	width: 4rem;
	height: .50625rem;
	font-size: .17rem;
	position: relative;
	background: #fff;
	border-bottom: 1px solid #f1f1f1;
}

div.confirm-price p:nth-child(1){
	position: absolute;
	top: .14rem;
	left: .2125rem;
	color: #666;
}

div.confirm-price p:nth-child(2){
	position: absolute;
	top: .14rem;
	right: .2125rem;
	color: #ff644e;
}

/*地址*/

div.confirm-add{
	width: 4rem;
	background: #fff;
	font-size: .17rem;
	color: #333;
}

div.confirm-add p:nth-child(1){
	width: 3.7875rem;
	margin-left: .2125rem;
	line-height: .4rem;
	padding-top: .1rem;
}

div.confirm-add p:nth-child(1) span:nth-child(1){
	color: #666;
}

div.confirm-add p:nth-child(2){
	width: 2.98rem;
	margin-left: 1.02rem;
	line-height: .4rem;
	color: #333;
	padding-bottom: .1rem;
}

div.confirm-fo{
	font-size: .17rem;
	width: 4rem;
	height: .5rem;
	color: #333;
	line-height: .5rem;
	border-bottom: 1px solid #f1f1f1;
}

div.confirm-fo p{
	width: 3.757rem;
	margin-left: .2125rem;
	border-top: 1px solid #f1f1f1;
}