


div.box-see{
	width: 4rem;
}

p.see-m{
	width: 4rem;
	height: .1rem;
	background: #f8f8f6;
}

/*选项*/

div.see-t{
	width: 4rem;
	height: .525rem;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}

div.see-t ul{
	width: 3.575rem;
	height: .325rem;
	margin: .1rem auto 0;
	position: relative;
}

div.see-t ul li{
	width: .8rem;
	height: .325rem;
	border: 1px solid #e6e6e6;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	position: absolute;
	top: 0;
	font-size: .15rem;
	text-align: center;
	line-height: .3rem;
	color: #666;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
}

div.see-t ul li.on{
	border: 1px solid #ff644e;
	color: #ff644e;
}

div.see-t ul li:nth-child(1){
	left: 0;
}

div.see-t ul li:nth-child(2){
	left: .91875rem;
}

div.see-t ul li:nth-child(3){
	left: 1.8375rem;
}

div.see-t ul li:nth-child(4){
	left: 2.75625rem;
}


/*内容*/

div.see-b{
	width: 4rem;
}

li.see-cont{
	width: 4rem;
	display: none;
}

li.see-cont.active{
	display: block;
}

div.see-ct{
	width: 4rem;
	border-bottom: 1px solid #f1f1f1;
}


div.see-ct:last-child{
	margin-bottom: .6rem;
}

div.see-con{
	width: 3.575rem;
	height: .625rem;
	margin: .2125rem auto 0;
	position: relative;
}

div.see-con img:nth-child(1){
	width: .4125rem;
	height: .4125rem;
	position: absolute;
	top: 0;
	left: 0;
}

div.see-con span:nth-child(2){
	font-size: .17rem;
	position: absolute;
	top: 0;
	left: .51875rem;
	line-height: .37rem;
	color: #666;
}

div.see-con span:nth-child(3){
	font-size: .129rem;
	position: absolute;
	top: 0;
	right: 0;
	color: #666;
	line-height: .38rem;
}

div.see-con span:nth-child(4){
	position: absolute;
	top: .39375rem;
	left: .51875rem;
	height:.19375rem;
	overflow: hidden;
}

div.see-con span:nth-child(4) img{
	width: .19375rem;
	height: .19375rem;
	float: left;
	margin-right: .025rem;
}

div.see-ct p{
	font-size: .171rem;
	color: #333;
	margin: 0 .2125rem .15rem .73125rem;
	line-height: .27rem;
}
