input,button,select,textarea{outline:none}
textarea{resize:none}

.box-recharge{
	width: 4rem;
	background: #f8f8f6;
	height: 100vh;
	font-size: .14934375rem;
}

.box-recharge div:nth-child(1){
	height: .725rem;
	border-bottom: 1px solid #eee;
}

.box-recharge div:nth-child(1) p{
	width: 3.6rem;
	margin: 0 auto;
	line-height: .25625rem;
	padding-top: .0875rem;
	color: #999;
}

.box-recharge div:nth-child(2){
	width: 4rem;
	background: #fff;
	border-bottom: 1px solid #eee;
}

.box-recharge div:nth-child(2) p{
	width: 3.6rem;
	margin: 0 auto;
	height: .5125rem;
	line-height: .5125rem;
	font-size: .1706875rem;
	position: relative;
}

.box-recharge div:nth-child(2) p i{
	position: absolute;
	top: 0;
	left: 0;
	font-style: normal;
}

.box-recharge div:nth-child(2) p input{
	position: absolute;
	top: .14375rem;
	left: .85625rem;
	border: none;
}


.box-recharge div:nth-child(3){
	width: 3.575rem;
	height: .5125rem;
	background: #faba2e;
	color: #fff;
	text-align: center;
	line-height: .5125rem;
	font-size: .1706875rem;
	margin: .25rem auto 0;
	border-radius: .0875rem;
	-webkit-border-radius: .0875rem;
}
