/*跳转联系*/


/*  box-sizing:border-box;
    -webkit-box-sizing:border-box;*/

div.box{
    width: 4rem;
    height: .51875rem;
    background: #FFF;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-top: 1px solid #e6e6e6;
}

ul.jump{
    width: 3.1875rem;
    height: .51875rem;
    margin: 0 auto;
}

ul.jump li.jump-li{
    position: relative;
}

ul.jump li.jump-li:nth-child(1) p{
    width: .253125rem;
    height: .253125rem;
    background: url('../images/8.png') no-repeat;
    background-size: 100%;
    position: absolute;
    top: .13125rem;
    left: .134375rem;
}

ul.jump li.jump-li:nth-child(2) p{
    width: .225rem;
    height: .253125rem;
    background: url('../images/9.png') no-repeat;
    background-size: 100%;
    position: absolute;
    top: .125rem;
    left: 1.478125rem;
}

ul.jump li.jump-li:nth-child(3) p{
    width: .184375rem;
    height: .259375rem;
    background: url('../images/10.png') no-repeat;
    background-size: 100%;
    position: absolute;
    top: .125rem;
    right: .134375rem;
}

ul.jump li.jump-li.on:nth-child(1) p{
    background: url('../images/8-1.png') no-repeat;
    background-size: 100%;
}

ul.jump li.jump-li.on:nth-child(2) p{
    background: url('../images/9-1.png') no-repeat;
    background-size: 100%;
}

ul.jump li.jump-li.on:nth-child(3) p{
    background: url('../images/10-1.png') no-repeat;
    background-size: 100%;
}

ul.jump li.jump-li.on:nth-child(1) i{
    width: .515625rem;
    height: .034375rem;
    position: absolute;
    left: 0;
    top: .5rem;
    background: #f62d59;
}

ul.jump li.jump-li.on:nth-child(2) i{
    width: .515625rem;
    height: .034375rem;
    position: absolute;
    left: 1.33rem;
    top: .5rem;
    background: #f62d59;
}

ul.jump li.jump-li.on:nth-child(3) i{
    width: .515625rem;
    height: .034375rem;
    position: absolute;
    left: 2.7rem;
    top: .5rem;
    background: #f62d59;
}

/*页面跳转显示隐藏*/
dl#paging li.box-index{
    display: none;
}

dl#paging li.box-index.on{
    display: block;
}



/*这是首页*/

/*头部*/

li.box-index{
    width: 4rem;
    height: 100vh;
    background: #f6f6f6;
}

div.index-head{
    width: 4rem;
    height: .4875rem;
    background: #fff;
}

div.index-head div{
    width: 3.571875rem;
    margin: 0 auto;
    height: .4875rem;
}

p.head-l{
    position: relative;
    height: .4875rem;
}

p.head-l a.head-l1{
    position: absolute;
    top: .16875rem;
    left: 0;
    width: .103125rem;
    height: .146875rem;
    background: url('../images/1.png');
    background-size: 100%;
}

p.head-l a.head-l2{
    position: absolute;
    top: .13rem;
    left: .209375rem;
    font-size: .16rem;
    color: #595959;
}

p.head-l i{
    position: absolute;
    top: .125rem;
    right: 0;
    width: .534375rem;
    height: .2375rem;
}

p.head-l i a.head-r1{
    width: .225rem;
    height: .23125rem;
    background: url('../images/2.png');
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

p.head-l i a.head-r2{
    width: .203125rem;
    height: .2375rem;
    background: url('../images/3.png');
    background-size: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

div.index-head2{
    width: 4rem;
    height: 1.28125rem;
}

div.index-head2 img{
    width: 100%;
    height: 100%;
}


/*菜单*/

div.index-menu{
    width: 4rem;
    height: .5125rem;
    background: #fff;
    position: relative;
}

div.menu-div{
    width: 3.5125rem;
    height: .5125rem;
    margin-left: .21875rem;
}

div.menu-div div{
    display: none;
}

p.menu-img{
    position: absolute;
    top: .2125rem;
    right: .2125rem;
    width: .05625rem;
    height: .103125rem;
    background: url('../images/5.png');
    background-size: 100%;
}

#menu{
    width: 7rem;
    height: .5125rem;
    line-height: .487rem;
    font-size: .16rem;
}

#menu li.menu-li:nth-child(1){
    margin-left: 0;
}

#menu li.menu-li{
    float: left;
    margin-left: .27rem;
    color: #303030;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#menu li.menu-li.on{
    color: #f62d59;
    border-bottom: .015625rem solid #f62d59;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/*菜品*/

.index-food{
    width: 4rem;
    box-shadow:0 2px 6px #CCC inset;
}

div.food-f{
    width: 3.63125rem;
    margin:0 auto 0;
    padding-top:.15rem;
    position: relative;
}

.index-food div.food-f:last-child{
    margin-bottom: .6rem;
}

#food li.index-food{
    display: none;
}

#food li.index-food.on{
    display: block;
}

div.food-fl{
    width: 1.75rem;
    height: 2.26875rem;
    border: 2px solid #EEE;
    border-radius: 5px;
    -webkit-border-radius: 10px;
    background: #FFF;
    position: relative;
}

div.food-fl.food-fr{
    position: absolute;
    top: .15rem;
    right: 0;
}

p.f-img{
    width: 1.734375rem;
    height: 1.159375rem;
    background: url('../images/7.jpg') no-repeat;
    background-size: cover;
}

div.food-fl p.f-name{
    font-size: .16rem;
    color: #000;
    margin-top: .14rem;
    margin-left: .10625rem;
}

div.food-fl p:nth-child(3){
    font-size: .14rem;
    color: #858585;
    margin-top: .08rem;
    margin-left: .10625rem;
}

div.food-fl p:nth-child(4){
    font-size: .17rem;
    color: #f62d59;
    margin-top: .09rem;
    margin-left: .10625rem;
}

div.f-button{
    width: .75rem;
    height: .2rem;
    font-size: .15rem;
    position: absolute;
    right: .10625rem;
    bottom: .10625rem;
}

div.f-button img:nth-child(1){
    width: .19375rem;
    height: .015625rem;
    position: absolute;
    top: .090625rem;
    left: 0;
}

div.f-button p.f-m{
    position: absolute;
    top: 0;
    left: .34rem;
}

div.f-button img:nth-child(3){
    width: .2rem;
    height: .2rem;
    position: absolute;
    right: 0;
    top: 0;
}

/*购物车*/

div.index-cart{
    width: 4rem;
    height: .58125rem;
    background: #FFF;
    border-top: 1px solid #c8c7c8;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    position: fixed;
    bottom: .51875rem;
    left: 0;
    display: none;
}

div.index-cart.on{
    display: block;
}

div.index-cart div.cart-l{
    width: .953125rem;
    height: .571875rem;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #f2f2f2;
    float: left;
    position: relative;
}

div.index-cart div.cart-l img{
    width: .234375rem;
    height: .234375rem;
    position: absolute;
    top: .165625rem;
    left: .3625rem;
}

div.index-cart div.cart-r{
    height: .571875rem;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    float: left;
    position: relative;
}

div.cart-r p{
    font-size: .17rem;
    line-height: .571875rem;
    margin-left: .221875rem;
    color: #333;
}

div.cart-r p span{
    color: #f62d59;
}

div.cart-r p.cart-btn{
    width: .975rem;
    height: .3375rem;
    background: #f62d59;
    font-size: .17rem;
    color: #FFF;
    position: absolute;
    top: .1rem;
    left: 1.64375rem;
    line-height: .3375rem;
    text-align: center;
    border-radius: .16875rem;
    -webkit-border-radius: .16875rem;
    box-shadow:0px 0px 10px #f62d59;
}



/*商品详情*/

div.box-com{
    background: #f8f8f6;
    display: none;
}

div.box-com.on{
    display: block;
}

div.food-bg{
    width: 4rem;
    height: 100vh;
    background: #000;
    filter:alpha(opacity=80); 
    opacity:0.8;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid #404040;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    display: none;
}

div.fodd-details{
    position: fixed;
    top: .49375rem;
    left: .421875rem;
    z-index: 3;
    width: 3.15625rem;
    height: 4.553125rem;
    background: #FFF;
    border-radius: .078125rem;
    -webkit-border-radius: .078125rem;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    display: none;
}

div.fodd-details p:nth-child(2),div.fodd-details p:nth-child(3){
    font-size: .17rem;
    color: #333;
    margin:0;
    line-height: .17rem;
    text-align: center;
}

div.fodd-details p:nth-child(4),div.fodd-details p:nth-child(5){
    font-size: .139rem;
    color: #666;
    margin: 0;
    line-height: .139rem;
    text-align: center;
}

div.fodd-details p:nth-child(2),div.fodd-details p:nth-child(4),div.fodd-details p:nth-child(6){
    margin-top: .2125rem;
}

div.fodd-details p:nth-child(3){
    margin-top: .15625rem;
}


div.fodd-details p:nth-child(5){
    margin-top: .1125rem;
}

div.fodd-details p:nth-child(6){
    width: .3rem;
    height: .021875rem;
    background: #f62d59;
    margin-left: 1.421875rem;
}

div.fodd-details p:nth-child(7){
    height: .50625rem;
    background: #f62d59;
    font-size: .17rem;
    text-align: center;
    line-height: .50625rem;
    color: #FFF;
    margin-top: .171rem;
    border-radius:0 0 .078125rem .078125rem;
    -webkit-border-radius:0 0 .078125rem .078125rem;
}

div.food-sign{
    width: .759375rem;
    height: .33125rem;
    position: fixed;
    top: .70625rem;
    left: .2875rem;
    z-index: 4;
    background: url('../images/13.png') no-repeat;
    background-size: 100%;
    display: none;
}


div.deta-img{
    width: 100%;
    height: 2.35625rem;
}

div.deta-img img{
    width: 100%;
    height: 100%;
    border-radius: .078125rem .078125rem 0 0;
    -webkit-border-radius: .078125rem .078125rem 0 0;
}

div.food-close{
    width: .409375rem;
    height: .409375rem;
    background: url('../images/14.png') no-repeat;
    background-size: 100%;
    z-index: 3;
    position: fixed;
    top: 5.415625rem;
    left: 1.79375rem;
    display: none;
}

div.food-bg.on,div.food-sign.on,div.fodd-details.on,div.food-close.on{
    display: block;
}




/*这是订单*/


/*订单分类*/

div.box-order{
    width: 4rem;
    height: .51rem;
    background: #FFF;
}

div.order-box{
    width: 3.171875rem;
    height: .51rem;
    margin: 0 auto;
}


div.order-box p.order-p{
    float: left;
    width: .51rem;
    font-size: .17rem;
    color: #333;
    line-height: .51rem;
    margin-right: .8rem;
    position: relative;
}

div.order-box p.order-p:nth-child(3){
    float: right;
    margin-right: 0;
}

div.order-box p.order-p.on{
    color: #f62d59;
}

div.order-box p.order-p.on i{
    width: .3rem;
    height: .01875rem;
    background: #f62d59;
    position: absolute;
    left: .1rem;
    bottom: 0;
}


/*订单内容*/

div.box-cont{
    width: 4rem;
}

ul#order-cont li.cont-li{
    display: none;
    border-top: 1px solid #eaeaea;
}

ul#order-cont li.cont-li.on{
    display: block;
}

div.cont-div{
    width: 3.8rem;
    margin: .1rem auto 0;
    height: 1.875rem;
    background: #FFF;
    border: 3px solid #eee;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    position: relative;
}

div.cont-top{
    height: .509375rem;
    border-bottom: 1px solid #f2f2f2;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

div.cont-top p:nth-child(1){
    font-size: .1484rem;
    line-height: .5rem;
    margin-left: .159375rem;
    color: #666;
    float: left;
}

div.cont-top p:nth-child(1) img{
    width: .090625rem;
    height: .13125rem;  
    margin-top: .196875rem;
}

div.cont-top p:nth-child(2){
    font-size: .1493rem;
    color: #fead06;
    line-height: .5rem;
    float: right;
    margin-right: .159375rem;
}

div.cont-in{
    height: .821875rem;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    position: relative;
}

div.cont-in p{
    position: absolute;
    font-size: .15rem;
}


div.cont-in p:nth-child(1){
    color: #333;
    font-size: .17rem;
    top: .19rem;
    left: .159375rem;
}

div.cont-in p:nth-child(2){
    right: .1625rem;
    top: .205625rem;
    color: #f62d59;
}

div.cont-in p:nth-child(3){
    left: .16875rem;
    top: .48125rem;
    font-size: .1493rem;
    color: #666;
}

div.cont-in p:nth-child(4){
    right: .1625rem;
    top: .475rem;
    font-size: .1493rem;
    color: #666;
}

div.cont-bot{
    width: .896875rem;
    height: .303125rem;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    position: absolute;
    bottom: .09rem;
    right: .159375rem;
    color: #FFF;
    text-align: center;
    line-height: .28rem;
    background: #f62d59;
    border-radius: .13rem;
    -webkit-border-radius: .13rem;  
    font-size: .1493rem;
}

div.cont-bot.on{
    background: #CCC;
}

/*无订单显示*/
div.cont-onder{
    width: 1.325rem;
    height: 2.125rem;
    margin: 1.05rem auto 0;
}

div.onder-bg{
    width: 1.31875rem;
    height: 1.2rem;
    background: url("../images/no-order.png") no-repeat;
    background-size: 100%;
}

div.onder-text{
    text-align: center;
    color: #666;
    font-size: .1493rem;
    margin-top: .2125rem;
}

div.onder-fanh{
    width: 1.13125rem;
    height: .325rem;
    background: #f62d59;
    font-size: .1493rem;
    line-height: .325rem;
    text-align: center;
    margin: .2125rem auto 0;
    border-radius: .153125rem;
    -webkit-border-radius:.153125rem;
    box-shadow:0px 0px 10px #f62d59;
    color: #FFF;
}



/*评价商品*/
p.com-kong{
    width: 4rem;
    height: .10625rem;
}

div.com-cont{
    width: 4rem;
    height: 1.325rem;
    background: #fff;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

div.cont-text{
    width: 3.5875rem;
    margin: .16rem auto 0;
}

div.cont-text p{
    font-size: .17rem;
    color: #666;
}

div.cont-text p:nth-child(2){
    line-height: .5rem;
}

div.cont-text p:nth-child(3){
    position: relative;
    color: #333;
}

div.cont-text p:nth-child(3) span,div.com-text2 span{
    position: absolute;
    top: .02rem;
    left: .8rem;
}

span i.off,span i.off{
    width: .19375rem;
    height: .19375rem;
    background: url('../images/logaa2.png');
    display: inline-block;
    background-size: cover;
}

span i.on,span i.on{
    width: .19375rem;
    height: .19375rem;
    background: url('../images/logaa1.png');
    display: inline-block;
    background-size: cover;
}

div.com-tlt{
    width: 2.79375rem;
    height: .45625rem;
    line-height: .45625rem;
    font-size: .15rem;
    color: #666;
    padding-left: .20625rem;
}

div.com-cont2{
    width: 4rem;
    height: .5rem;
    line-height: .5rem;
    font-size: .17rem;
    background: #fff;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

div.com-text2{
    position: relative;
    width: 3.5875rem;
    margin: 0 auto;
}

ul.com-key{
    width: 4rem;
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
}

ul.com-key li{
    width: 3.5875rem;
    height:.44rem;
    line-height: .44rem;
    margin: 0 auto;
    font-size: .17rem;
    color: #666;
}

div.com-tat{
    width: 4rem;
    height: 1rem;
    background: #fff;
    border-top: 1px solid #f1f1f1;
    position: relative;
}

.com-tc{
    width: 3.575rem;
    height: .75rem;
    font-size: .17rem;
    line-height: .3125rem;
    outline:none;
    resize:none;
    border: none;
    position: absolute;
    top: .1rem;
    left: .2125rem;
}

div.com-btn{
    width: 4rem;
    height: .5125rem;
    background: #faba2e;
    color: #fff;
    font-size: .17rem;
    text-align: center;
    line-height: .5125rem;
    margin-bottom: .5rem;
}

div.com-fanh{
    width: 4rem;
    height: .4rem;
    background: #FFF;
    font-size: .15rem;
    position: relative;
    line-height: .15rem;
    border-bottom: 1px solid #f1f1f1;
}

div.com-fanh a{
    position: absolute;
    top: .134375rem;
    left: .2125rem;
}

div.com-fanh img{   
    width: .090625rem;
    height: .13125rem;
}

p.com-fanhp{
    font-size: .15rem;
    line-height: .4rem;
    margin-left: 1.8rem;
}



/*点击评价页面*/



div.box-see{
    width: 4rem;
    display: none;
}

div.box-see.on{
    display: block;
}

p.see-m{
    width: 4rem;
    height: .1rem;
    background: #f8f8f6;
}

/*选项*/

div.see-t{
    width: 4rem;
    height: .525rem;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

div.see-t ul{
    width: 1.65rem;
    height: .325rem;
    margin: .1rem auto 0;
    position: relative;
}

div.see-t ul li{
    width: .8rem;
    height: .325rem;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    position: absolute;
    top: 0;
    font-size: .15rem;
    text-align: center;
    line-height: .3rem;
    color: #666;
    box-sizing:border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
}

div.see-t ul li.on{
    border: 1px solid #f62d59;
    color: #f62d59;
}

div.see-t ul li:nth-child(1){
    left: 0;
}

div.see-t ul li:nth-child(2){
    left: .91875rem;
}

div.see-t ul li:nth-child(3){
    left: 1.8375rem;
}

div.see-t ul li:nth-child(4){
    left: 2.75625rem;
}


/*内容*/

div.see-b{
    width: 4rem;
}

li.see-cont{
    width: 4rem;
    display: none;
}

li.see-cont.active{
    display: block;
}

div.see-ct{
    width: 4rem;
    border-bottom: 1px solid #f1f1f1;
}


div.see-ct:last-child{
    margin-bottom: .6rem;
}

div.see-con{
    width: 3.575rem;
    height: .625rem;
    margin: .2125rem auto 0;
    position: relative;
}

div.see-con img:nth-child(1){
    width: .4125rem;
    height: .4125rem;
    position: absolute;
    top: 0;
    left: 0;
}

div.see-con span:nth-child(2){
    font-size: .17rem;
    position: absolute;
    top: 0;
    left: .51875rem;
    line-height: .37rem;
    color: #666;
}

div.see-con span:nth-child(3){
    font-size: .129rem;
    position: absolute;
    top: 0;
    right: 0;
    color: #666;
    line-height: .38rem;
}

div.see-con span:nth-child(4){
    position: absolute;
    top: .39375rem;
    left: .51875rem;
    height:.19375rem;
    overflow: hidden;
}

div.see-con span:nth-child(4) img{
    width: .19375rem;
    height: .19375rem;
    float: left;
    margin-right: .025rem;
}

div.see-ct p{
    font-size: .171rem;
    color: #333;
    margin: 0 .2125rem .15rem .73125rem;
    line-height: .27rem;
}


div.see-fanh{
    font-size: .15rem;
    color: #666;
    position: absolute;
    top: .27rem;
    left: .2125rem;
}

div.see-fanh img{
    width: .090625rem;
    height: .13125rem;  
    margin-top: .05rem;
}