
/*我的钱包*/

.box-wallet{
	width: 4rem;
	height: 100vh;
	background: #f8f8f6;
	font-size: 0.1875rem;
}

.wallet-box{
	width: 4rem;
	height: 1.7625rem;
	background: #f8b62c;
}

.wallet-box p{
	width: 3.6rem;
	margin: 0 auto;
	padding:0.25rem 0;
	text-align: left;
	color: #fff;
	font-size: .14934375rem;
}

.wallet-box a{
	display: block;
	font-size: 0.3rem;
	color: #fff;
	width: 4rem;
	text-align: center;
}

.wallet-box a i{
	font-size: 0.14934375rem;
	font-style: normal;
}

.recharge-box{
	width: 4rem;
	height: 0.5125rem;
	line-height: 0.5125rem;
	background: #fff;
	position: relative;
	border-top: 1px solid #f1f1f1;
}

.recharge-box p{
	position: absolute;
	top: 0;
}

.recharge-box p:nth-child(1){
	left:0.209375rem;
	font-size: .1706875rem;
}

.recharge-box p:nth-child(2){
	right:0.11875rem;
	width: .09375rem;
	height: .1625rem;
}

.recharge-box p img{
	width: 100%;
	height: 100%;
}


.recharge-timer{
	width: 3.79375rem;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	height: .353125rem;
	font-size: .14934375rem;
	color: #999;
	line-height: .353125rem;
	padding-left: .20625rem;
}

.recharge-ta{
	width: 4rem;
	background: #fff;
}

.recharge-ta li{
	width: 4rem;
	height: .825rem;
	margin: 0 auto;
	border-bottom:1px solid #eee;
}

.recharge-ta li div{
	width: 3.571875rem;
	margin: 0 auto;
	position: relative;
}

.recharge-ta li div p{
	font-size: .14934375rem;
	position: absolute;
}

.recharge-ta li div p:nth-child(1){
	font-size: .1706875rem;
	top: .16875rem;
	left: 0;
}

.recharge-ta li div p:nth-child(2){
	top: .19375rem;
	right: 0;
	color: #999;
}
.recharge-ta li div p:nth-child(3){
	top: .540625rem;
	left: 0;
	color: #999;
}
.recharge-ta li div p:nth-child(4){
	top:.553125rem;
	right: 0;
	color: #ff644e;
}


