<!doctype html>
<html lang="en">
<head>
{% load staticfiles %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>订单信息</title>
	<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/Distribution.css' %}">
</head>
<body>

	<div class="dist-box">
		
		<ul class="dist-top" id="dist-title">
			<li>订单状态</li>
			<li class="on">订单详情</li>
		</ul>

		<dl class="dist-cont" id="dist-cont">
		<!--订单状态-->
			<li class="dist-left">
				<div class="left-a">
					<img src="{% static 'DiningServer/images/index/bgap1.png' %}" alt="">
					<img src="{% static 'DiningServer/images/index/sanjiao.png' %}" alt="">
					{% if bill.add_time %}
					<p><span>{{bill.add_time|date:"m-j G:i" }}</span><i>订单已提交</i><i>等待支付</i></p>
					{% else %}
					<p></p>
					{% endif %}
					<img src="{% static 'DiningServer/images/index/border.png' %}" alt="">
				</div>
				<div class="left-a">
					<img src="{% static 'DiningServer/images/index/bgap2.png' %}" alt="">
					<img src="{% static 'DiningServer/images/index/sanjiao.png' %}" alt="">
					{% if bill.pay_time %}
					<p><span>{{bill.pay_time|date:"m-j G:i" }}</span><i>支付成功</i><i>请耐心等候，商家会尽快接单</i></p>
					{% else %}
					<p></p>
					{% endif %}
					<img src="{% static 'DiningServer/images/index/border.png' %}" alt="">
					<img src="{% static 'DiningServer/images/index/border.png' %}" alt="">
				</div>
				<div class="left-a">
					<img src="{% static 'DiningServer/images/index/bgap3.png' %}" alt="">
					<img src="{% static 'DiningServer/images/index/sanjiao.png' %}" alt="">
					{% if bill.accept_time %}
					<p><span>{{bill.accept_time|date:"m-j G:i" }}</span><i>商家已接单</i><i>商品准备中</i></p>
					{% elif bill.cancel_time %}
					<p><span>{{bill.cancel_time|date:"m-j G:i" }}</span><i>商家已拒单</i><i>微信已退款</i></p>
					{% else %}
					<p></p>
					{% endif %}
					<img src="{% static 'DiningServer/images/index/border.png' %}" alt="">
					<img src="{% static 'DiningServer/images/index/border.png' %}" alt="">
				</div>
				<div class="left-a">
					<img src="{% static 'DiningServer/images/index/bgap4.png' %}" alt="">
					<img src="{% static 'DiningServer/images/index/sanjiao.png' %}" alt="">
					{% if bill.start_send_time %}
					<p><span>{{bill.start_send_time|date:"m-j G:i" }}</span><i>配送员正在配送中</i><i>请耐心等候</i></p>
					{% else %}
					<p></p>
					{% endif %}
					<img src="{% static 'DiningServer/images/index/border.png' %}" alt="">
					<img src="{% static 'DiningServer/images/index/border.png' %}" alt="">
				</div>
				<div class="left-a">
					<img src="{% static 'DiningServer/images/index/bgap5.png' %}" alt="">
					<img src="{% static 'DiningServer/images/index/sanjiao.png' %}" alt="">
					{% if bill.end_send_time %}
					<p><span>{{bill.end_send_time|date:"m-j G:i" }}</span><i>订单完成</i><i>请确认收货</i></p>
					{% else %}
					<p></p>
					{% endif %}
					<p><i></i></p>
					<img src="{% static 'DiningServer/images/index/border.png' %}" alt="">
				</div>

			</li>
		<!--订单详情-->
			<li class="active dist-right">
				<div class="right-box">
					<p class="right-a"><i>订单详情</i></p>
					{% for meal in myMeals %}
						<div class="right-b">
							<div class="right-b1">
								<p>{{ meal.meal_name }}</p>
								<p>{{ meal.meal_price }}</p>
								<p>x{{ meal.buy_count }}</p>
							</div>
						</div>
					{% endfor %}
						<div class="right-b">
							<div class="right-b1">
								<p>配送费</p>
								<p>￥{{ bill.delivery_fee }}</p>
							</div>
						</div>
						<div class="right-b">
							<div class="right-b1">
								<p>总计</p>
								<p>￥{{ bill.all_fee }}</p>
							</div>
						</div>

						<p class="right-a"><i>配送信息</i></p>
						<div class="right-c">
							<div class="right-c1">
								<p>期望时间</p>
								{% if bill.ensure_send_time %}
								<p>{{bill.ensure_send_time}}</p>
								{% else %}
								<p>立即送达</p>
								{% endif %}
							</div>
						</div>
						<div class="right-d">
							<div class="right-d1">
								<p>配送地址&nbsp;&nbsp;&nbsp;<span>{{user.username}}&nbsp;&nbsp;&nbsp;{{user.phone}}</span></p>
								<p>{{user.user_location}}{{user.door}}</p>
							</div>
						</div>

						<p class="right-a"><i>订单信息</i></p>
						<div class="right-c">
							<div class="right-c2">
								<p>订单号&nbsp;&nbsp;&nbsp;<span>{{bill.id}}</span></p>
							</div>
							<div class="right-c1">
								<p>订单时间</p>
								<p>{{bill.add_time|date:"Y-m-j G:i:s" }}</p>
							</div>
							<div class="right-c1">
								<p>支付方式</p>
								<p>在线支付</p>
							</div>
						</div>

				</div>
			</li>
		</dl>

	</div>
	
	<script type="text/javascript" src="{% static 'DiningServer/js/Adaptive.js' %}"></script>
	<script type="text/javascript" src="{% static 'DiningServer/js/jquery-1.7.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'DiningServer/js/fastclick.js' %}"></script>
	<script>
		$("#dist-title li").on('touchstart',function(){
            $("#dist-title li").eq($(this).index()).addClass("on").siblings().removeClass('on');
            $("#dist-cont li").hide().eq($(this).index()).show();
            var index = $(this).index();
        });
	</script>
</body>
</html>