<!doctype html>
<html>
<head>
     {% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>家家订餐</title>
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/dom.css' %}">
</head>

<body>
<div class="swiper-position" id="dome1">
    <div class="positionleft">
        <span class="position-img"></span>
        {% if house %}
            <a href="javascript:;" class="position-text" style="line-height:.353125rem">{{ house.name }}</a>
        {% else %}
            <a href="javascript:;" class="position-text">家家长沙米粉</a>
        {% endif %}

        <p class="position-paragraph"><a href="http://xiangeqwd.9xi.com/DiningServer/switch/" style=" display: block; line-height: .4rem;">(点击更换门店)</a></p>
    
    </div>
    <div class="positionright">
        <img src="{% static 'DiningServer/images/index/phone.png' %}" id="btn-phone">
        <p class="btn-ct">
            <a href="http://xiangeqwd.9xi.com/DiningServer/getHouseJudge/?house_id={{house.house_id}}"><img src="{% static 'DiningServer/images/index/comorder.png' %}" id="btn-com"><span>评价</span></a>
        </p>
    </div>
</div>
<div id="container" class="container-box ">
  <div class="section pd6" id="st0">
  	<div class="prt-lt" style="width:100%; border:none;">
    	<div class="lt-lt" id="{{ meal.meal_id }}">
            {% if meal.avatar_url %}
                <img src="{{ meal.avatar_url }}">
            {% else %}
			    <img src="{% static 'DiningServer/images/index/prt_2.jpg' %}">
            {% endif %}
		</div>
        <div class="lt-ct">
        	<p>{{ meal.meal_name }}</p>
            <p class="pr">¥<span class="price">{{ meal.meal_price }}</span></p>
			<p class="pr2">已售<span class="text">{{ meal.sold_count }}</span>份</p>
        </div>
    </div> 
  </div>
</div>
<div class="context">
	<p class="context-text">商品详情</p>
    {% if meal.detail_url %}
    <img class="context-img" src="{{ meal.detail_url }}" />
    {% else %}
	<img class="context-img" src="{% static 'DiningServer/images/index/prt_9.jpg' %}" />
    {% endif %}
	<div class="details">
		<div class="details-button">{{ meal.name }}</div>
		<div class="details-box">
			<ul class="ul-box">
                {% if meal.detail_content %}
                    <li class="details-text">{{ meal.detail_content }}</li>
                {% else %}
                    <li class="details-text">暂无详情</li>
                {% endif %}
			</ul>
		</div>
	</div>
</div>
<br/>

<div class="pos-bg"></div>
<div class="pos-phone" id="phone">
    <p class="pos-pa">联系电话</p>
    <p class="btn-close" id="btn-close">×</p>   
    <a href="tel:{{ house.phone }}" class="pos-pt" style="display:block;">{{ house.phone }}</a>
</div>

<!--跳转按钮-->
<div class="pos-fixed">
    <a class="pos-ordering"  href="http://xiangeqwd.9xi.com/DiningServer/index/">
        <img src="{% static 'DiningServer/images/index/log1a.png' %}" class="post-bg">
        <p class="pos-size2">订餐</p>
    </a>

    <a  class="pos-order" href="http://xiangeqwd.9xi.com/DiningServer/getOrdersByType/">
        <img src="{% static 'DiningServer/images/index/log2.png' %}" class="post-bg2">
        <p class="pos-size">订单</p>
    </a>

    <a class="pos-page" href="http://xiangeqwd.9xi.com/DiningServer/listMyDetailInfoPage/">
        <img src="{% static 'DiningServer/images/index/log3.png' %}" class="post-bg3">
        <p class="pos-size">地址</p>
    </a>

</div>
<script type="text/javascript" src="{% static 'DiningServer/js/Adaptive.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/jquery-1.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/fastclick.js' %}"></script>
<script type="text/javascript">
<!--  餐厅的电话号码在这里  -->
{% if house %}
    var phone = '{{ house.phone }}';
{% endif %}
</script>
<script> 
// $(function(){ 

//     var json = {};
    
//     var sessionId = $('.lt-lt').attr('id');




//     $(".add").click(function(){
//         var t=$(this).parent().find('input[class*=result]'); 
//         t.val(parseInt(t.val())+1);
//         setTotal();


//         fnSave(t);
//     })
     
//     $(".minus").click(function(){ 
//         var t=$(this).parent().find('input[class*=result]'); 
//         t.val(parseInt(t.val())-1);
//         if(parseInt(t.val())<0){ 
//         t.val(0);

//         fnSave(t);

//     } 
//     setTotal(); 


    

// })

// function fnSave(t){
//     var lastSessicon = window.sessionStorage['JJCS'];
//     lastSessicon = lastSessicon? JSON.parse(lastSessicon): {};
//     lastSessicon[sessionId] = t.val();

//     window.sessionStorage['JJCS'] = JSON.stringify(lastSessicon);
// }




</script> 
<script>
    $('#btn-phone').on('click',function(){
        $('#phone').addClass('on');
        $('.pos-bg').addClass('on');
        document.body.style.overflow = "hidden";
    });

    $('#btn-close').on('click',function(){
        $('#phone').removeClass("on");
        $('.pos-bg').removeClass('on');
        document.body.style.overflow = "auto";
    });
</script>
</body>
</html>