<!doctype html>
<html>
<head>
{% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>店面评价</title>
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/evaluate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/dom.css' %}">
<script type="text/javascript" src="{% static 'DiningServer/js/Adaptive.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/jquery-1.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/fastclick.js' %}"></script>
</head>

<body>
    <div class="box-see">

        <p class="see-m"></p>
        
        <div class="see-t">
            <ul id="see-li">
                <li class="on">全部{{ judgeList|length}}</li>
                <li>好评{{ good }}</li>
                <li>中评{{ soso }}</li>
                <li>差评{{ bad }}</li>
            </ul>
        </div>


        <div class="see-b">
            
            <dl id="dom-li">
                <!-- 全部11 -->
                <li class="see-cont active">
                {% for judge in judgeList %}    
                    <div class="see-ct">
                        <div class="see-con">
                            <img src="{% static 'DiningServer/images/index/portrait.png' %}" alt="">
                            <span>{{ judge.user_phone }}</span>
                            <span>{{ judge.add_time|date:"Y-m-j G:i" }}</span>
                            <span>
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt=""  style="display:none;">

                                <!-- 评价星星 -->
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt="">
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt="">
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt="">
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt="">
                                <img src="{% static 'DiningServer/images/index/logaa2.png' %}" alt="">
                            </span>
                        </div>
                        <p>{{ judge.judge_message }}</p>
                    </div>
                {% endfor %}
                </li>
                
                <!-- 好评11 -->

                <li class="see-cont">
                {% for judge in judgeList %}
                    {% if judge.judge_type == 1 %}     
                    <div class="see-ct">
                        <div class="see-con">
                            <img src="{% static 'DiningServer/images/index/portrait.png' %}" alt="">
                            <span>{{ judge.user_phone }}</span>
                            <span>{{ judge.add_time|date:"Y-m-j G:i" }}</span>
                            <span>
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt=""  style="display:none;">

                                <!-- 评价星星 -->
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt="">
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt="">
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt="">
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt="">
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt="">
                            </span>
                        </div>
                        <p>{{ judge.judge_message }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
                </li>

                <!-- 中评0 -->
                <li class="see-cont">
                {% for judge in judgeList %}
                    {% if judge.judge_type == 2 %}    
                    <div class="see-ct">
                        <div class="see-con">
                            <img src="{% static 'DiningServer/images/index/portrait.png' %}" alt="">
                            <span>{{ judge.user_phone }}</span>
                            <span>{{ judge.add_time|date:"Y-m-j G:i" }}</span>
                            <span>
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt=""  style="display:none;">

                                <!-- 评价星星 -->
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt="">
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt="">
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt="">
                                <img src="{% static 'DiningServer/images/index/logaa2.png' %}" alt="">
                                <img src="{% static 'DiningServer/images/index/logaa2.png' %}" alt="">
                            </span>
                        </div>
                        <p>{{ judge.judge_message }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
                </li>
                
                <!-- 差评0 -->

                <li class="see-cont">
                {% for judge in judgeList %}
                    {% if judge.judge_type == 3 %}    
                    <div class="see-ct">
                        <div class="see-con">
                            <img src="{% static 'DiningServer/images/index/portrait.png' %}" alt="">
                            <span>{{ judge.user_phone }}</span>
                            <span>{{ judge.add_time|date:"Y-m-j G:i" }}</span>
                            <span>
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt=""  style="display:none;">

                                <!-- 评价星星 -->
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt="">
                                <img src="{% static 'DiningServer/images/index/logaa1.png' %}" alt="">
                                <img src="{% static 'DiningServer/images/index/logaa2.png' %}" alt="">
                                <img src="{% static 'DiningServer/images/index/logaa2.png' %}" alt="">
                                <img src="{% static 'DiningServer/images/index/logaa2.png' %}" alt="">
                            </span>
                        </div>
                        <p>{{ judge.judge_message }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
                </li>


                

            </dl>

        </div>

        <!-- 跳转按钮 -->
        <div class="pos-fixed">
            <a class="pos-ordering"  href="http://xiangeqwd.9xi.com/DiningServer/index/">
                <img src="{% static 'DiningServer/images/index/log1.png' %}" class="post-bg">
                <p class="pos-size">订餐</p>
            </a>

            <a  class="pos-order" href="http://xiangeqwd.9xi.com/DiningServer/getOrdersByType/">
                <img src="{% static 'DiningServer/images/index/log2a.png' %}" class="post-bg2">
                <p class="pos-size2">订单</p>
            </a>

            <a class="pos-page" href="http://xiangeqwd.9xi.com/DiningServer/listMyDetailInfoPage/">
                <img src="{% static 'DiningServer/images/index/log3.png' %}" class="post-bg3">
                <p class="pos-size">地址</p>
            </a>

        </div>
        

    </div>


    <script>
        $('#see-li li').on('click',function(){
            $("#see-li li").eq($(this).index()).addClass("on").siblings().removeClass('on');
            $("#dom-li li").hide().eq($(this).index()).show();
        });
    </script>



</body>
</html>