<!doctype html>
<html lang="en">
<head>
{% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, user-scalable=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>   
    <link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/fopage.css' %}">
    <script type="text/javascript" src="{% static 'DiningServer/js/Adaptive.js' %}"></script>
    <script type="text/javascript" src="{% static 'DiningServer/js/jquery-1.7.1.min.js' %}"></script>
</head>
<body>
    
    <div class="box-fopage">
        
        <ul class="fo-box">
            
            <li class="fo-li">
                <div class="fo-div">
                    <em class="fo-em">名字</em>
                    <em>18813092419</em>
                    <p class="fo-p">北京市朝阳区三里屯soho12号楼2503室</p>
                </div>
                <div class="fo-div">
                    <em class="fo-em2 fo-tc"><img src="{% static 'DiningServer/images/shopping/3.png' %}"><i class="fo-text2">默认地址</i></em>
                    <em class="fo-em2"><img src="{% static 'DiningServer/images/shopping/1.png' %}"><i class="fo-text">编辑</i></em>
                    <em class="fo-em2"><img src="{% static 'DiningServer/images/shopping/2.png' %}"><i class="fo-text">删除</i></em>
                </div>
                <p class="fo-bd"></p>
            </li>

            <li class="fo-li">
                <div class="fo-div">
                    <em class="fo-em">名字</em>
                    <em>18813092419</em>
                    <p class="fo-p">北京市朝阳区三里屯soho12号楼2503室</p>
                </div>
                <div class="fo-div">
                    <em class="fo-em2 fo-tc"><i><img src="{% static 'DiningServer/images/shopping/3.png' %}"></i><i class="fo-text2">默认地址</i></em>
                    <em class="fo-em2"><i><img src="{% static 'DiningServer/images/shopping/1.png' %}"></i><i class="fo-text">编辑</i></em>
                    <em class="fo-em2"><i><img src="{% static 'DiningServer/images/shopping/2.png' %}"></i><i class="fo-text">删除</i></em>
                </div>
                <p class="fo-bd"></p>
            </li>

        </ul>

        <div class="fo-tj" id="fo-btn">+新建地址</div>
        

    </div>


    <script>
        $('#fo-btn').on('click',function(){
            window.location.href='http://xiangeqwd.9xi.com/DiningServer/getMyDetailInfoPage/'
        });
    </script>
</body>
</html>