
<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>分店页面</title>
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/inBranch.css' %}">
</head>
<body>

<div class="box-branch" id="box-suf">
    <div><p>店铺选择</p></div>
    <div>
        <ul class="box-suf">
            {% for house in houselist %}
            <a href="http://xiangeqwd.9xi.com/DiningServer/index/?house_id={{house.id}}&amp;openid={{openid}}">
                <li data-id="house">
                    <p>{{house.name}}</p>
                    <span>{{house.location}}</span>
                    <p><img src="{% static 'DiningServer/images/index/gou.png' %}"></p>
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>

   <!-- <p class="brh-btn" id="brh-btn">确认</p> -->
</div>



<script type="text/javascript" src="{% static 'DiningServer/js/Adaptive.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/jquery-1.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/fastclick.js' %}"></script>
<script>
   
    var dataId = $("#box-suf ul li").eq(0).attr("data-id") + 1;
    $('#box-suf ul > li').on('touchstart',function(){
        $(this).addClass("on").siblings().removeClass("on");
        dataId = $(this).attr("data-id") + ($(this).index()+1);
        console.log(dataId);
    })


    
    // $('#brh-btn').on('touchstart',function(){
    //     $.ajax({
    //         url:'/DiningServer/switch/',
    //         data: {house_id: dataId},
    //         type: 'POST',
    //         dataType:　 "json",
    //         success:    function (data){
    //             console.log(data);
    //         }
    //     });
    //     window.location.href="http://xiangeqwd.9xi.com/DiningServer/index/";
    // });
</script>
</body>
</html>