<!doctype html>
<html>
<head>
{% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>湘鄂情味道</title>
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/index.css' %}">
<link rel="stylesheet" href="{% static 'DiningServer/css/dom.css' %}">
<script type="text/javascript" src="{% static 'DiningServer/js/Adaptive.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/jquery-2.1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/fastclick.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/iscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/tab.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/details.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/slide.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/star.js' %}"></script>
</head>
<body>


    <!-- 跳转链接 -->
    <div class="box">
        <ul class="jump" id="jump">
            <li class="jump-li on">
                <p></p>
                <i></i>
            </li>
            <li class="jump-li">
                <p></p>
                <i></i>
            </li>
            <li class="jump-li">
                <p></p>
                <i></i>
            </li>
        </ul>
    </div>

    <dl id="paging">
        <!-- 这是首页 -->
        <li class="box-index on">

            <!-- 头部 -->
            
            <div class="index-head">
                <div>
                    <p class="head-l">
                        <a href="jvavscript:;" class="head-l1"></a>
                        <a href="jvavscript:;" class="head-l2">三里屯SOHO公寓</a>
                        <i>
                            <a href="jvavscript:;" class="head-r1"></a>
                            <a href="jvavscript:;" class="head-r2" id="oneveat"></a>
                        </i>
                    </p>
                </div>
            </div>

            <div class="index-head2">
                <img src="{% static 'DiningServer/images/4.jpg' %}" alt="">
            </div>

            <!-- 菜单 -->
            <div class="index-menu">
                <div class="menu-div" id="wrapper">
                    <ul id="menu" class="clearfix">
                        <li class="menu-li on">全部</li>
                        <li class="menu-li">面条</li>
                        <li class="menu-li">米粉</li>
                        <li class="menu-li">小吃</li>
                        <li class="menu-li">加菜</li>
                        <li class="menu-li">馄饨</li>
                        <li class="menu-li">全部</li>
                        <li class="menu-li">面条</li>
                        <li class="menu-li">米粉</li>
                        <li class="menu-li">小吃</li>
                        <li class="menu-li">加菜</li>
                        <li class="menu-li">馄饨</li>
                    </ul>
                </div>
                <p class="menu-img"></p>
            </div>

            <!-- 菜品 -->
            <ol id="food">

                <!-- 全部 -->
                <li class="index-food on">
                    
                    <!-- 这是第一排 -->
                    <div class="food-f">

                    <!-- 这是左边菜品 -->
                        <div class="food-fl">
                            <p class="f-img"></p>
                            <p class="f-name">营养双拼套餐</p>
                            <p>销量16份 &nbsp; 好评 26</p>
                            <p>￥16</p>
                            <div class="f-button">
                                <img src="{% static 'DiningServer/images/11.png' %}" alt="">
                                <p class="f-m">1</p>
                                <img src="{% static 'DiningServer/images/12.png' %}" alt="">
                            </div>

                            <!-- 商品详情 -->
                            <div class="food-bg"></div>
                            <div class="food-sign"></div>
                            <div class="fodd-details">
                                <div class="deta-img">
                                    <img src="{% static 'DiningServer/images/details.jpg' %}" alt="">
                                </div>
                                <p>营养双拼套餐</p>
                                <p>￥16</p>
                                <p>标准配料，精选食材 ，营养又美味</p>
                                <p>满足你的味蕾</p>
                                <p></p>
                                <p>加入购物车</p>
                            </div>
                            <div class="food-close"></div>

                        </div>

                    <!-- 这是右边菜品 -->
                        <div class="food-fl food-fr">
                            <p class="f-img"></p>
                            <p class="f-name">营养双拼套餐</p>
                            <p>销量16份 &nbsp; 好评 26</p>
                            <p>￥16</p>
                            <div class="f-button">
                                <img src="{% static 'DiningServer/images/11.png' %}" alt="">
                                <p class="f-m">1</p>
                                <img src="{% static 'DiningServer/images/12.png' %}" alt="">
                            </div>
                            
                            <!-- 商品详情 -->
                            <div class="food-bg"></div>
                            <div class="food-sign"></div>
                            <div class="fodd-details">
                                <div class="deta-img">
                                    <img src="{% static 'DiningServer/images/details.jpg' %}" alt="">
                                </div>
                                <p>营养双拼</p>
                                <p>￥16</p>
                                <p>标准配料，精选食材 ，营养又美味</p>
                                <p>满足你的味蕾</p>
                                <p></p>
                                <p>加入购物车</p>
                            </div>
                            <div class="food-close"></div>

                        </div>
                    </div>


                </li>
                
                <!-- 面条1 -->
                <li class="index-food">面条1</li>

                <!-- 米粉 -->
                <li class="index-food">米粉1</li>

                <!-- 小吃1 -->
                <li class="index-food">小吃1</li>

                <!-- 加菜1 -->
                <li class="index-food">加菜1</li>

                <!-- 馄饨1 -->
                <li class="index-food">馄饨1</li>

                <!-- 全部2 -->
                <li class="index-food">全部2</li>

                <!-- 面条2 -->
                <li class="index-food">面条2</li>

                <!-- 米粉2 -->
                <li class="index-food">米粉2</li>

                <!-- 小吃2 -->
                <li class="index-food">小吃2</li>

                <!-- 加菜2 -->
                <li class="index-food">加菜2</li>

                <!-- 馄饨2 -->
                <li class="index-food">馄饨2</li>

            </ol>



            <!-- 购物车 -->
            <div class="index-cart clearfix">
                <div class="cart-l">
                    <img src="{% static 'DiningServer/images/15.png' %}" alt="">
                </div>
                <div class="cart-r">
                    <p>总计：<span>￥32</span></p>
                    <p class="cart-btn">确认订单</p>
                </div>
            </div>




            <!-- 电话页面 -->

            <!-- 评价页面 -->
            <div class="box-see">

                <p class="see-m"></p>
                <div class="see-t">
                    <div class="see-fanh"><img src="{% static 'DiningServer/images/left.png' %}" alt=""> &nbsp;<a href="">返回</a></div>
                    <ul id="see-li">
                        <li class="eveat on">全部3</li>
                        <li class="eveat">好评2</li>
                        <li class="eveat">差评1</li>
                    </ul>
                </div>

                <div class="see-b">
                    <dl id="dom-li">
                        <!-- 全部11 -->
                        <li class="see-cont active"> 
                            <div class="see-ct">
                                <div class="see-con">
                                    <img src="{% static 'DiningServer/images/portrait.png' %}" alt="">
                                    <span>18813092419</span>
                                    <span>2016-04-10 16:18</span>
                                    <span>
                                        <img src="{% static 'DiningServer/images/logaa1.png' %}" alt=""  style="display:none;">

                                        <!-- 评价星星 -->
                                        <img src="{% static 'DiningServer/images/logaa1.png' %}" alt="">
                                        <img src="{% static 'DiningServer/images/logaa1.png' %}" alt="">
                                        <img src="{% static 'DiningServer/images/logaa1.png' %}" alt="">
                                        <img src="{% static 'DiningServer/images/logaa1.png' %}" alt="">
                                        <img src="{% static 'DiningServer/images/logaa1.png' %}" alt="">
                                    </span>
                                </div>
                                <p>这是一段全部的评论文字</p>
                            </div>
                        </li>
                        
                        <!-- 好评11 -->

                        <li class="see-cont">    
                            <div class="see-ct">
                                <div class="see-con">
                                    <img src="{% static 'DiningServer/images/portrait.png' %}" alt="">
                                    <span>18813092419</span>
                                    <span>2016-04-10 16:18</span>
                                    <span>
                                        <img src="{% static 'DiningServer/images/logaa1.png' %}" alt=""  style="display:none;">

                                        <!-- 评价星星 -->
                                        <img src="{% static 'DiningServer/images/logaa1.png' %}" alt="">
                                        <img src="{% static 'DiningServer/images/logaa1.png' %}" alt="">
                                        <img src="{% static 'DiningServer/images/logaa1.png' %}" alt="">
                                        <img src="{% static 'DiningServer/images/logaa1.png' %}" alt="">
                                        <img src="{% static 'DiningServer/images/logaa1.png' %}" alt="">
                                    </span>
                                </div>
                                <p>这是一段好评的评论文字</p>
                            </div>
                        </li>

                        
                        <!-- 差评0 -->

                        <li class="see-cont"> 
                            <div class="see-ct">
                                <div class="see-con">
                                    <img src="{% static 'DiningServer/images/portrait.png' %}" alt="">
                                    <span>18813092419</span>
                                    <span>2016-04-10 16:18</span>
                                    <span>
                                        <img src="{% static 'DiningServer/images/logaa1.png' %}" alt=""  style="display:none;">

                                        <!-- 评价星星 -->
                                        <img src="{% static 'DiningServer/images/logaa1.png' %}" alt="">
                                        <img src="{% static 'DiningServer/images/logaa1.png' %}" alt="">
                                        <img src="{% static 'DiningServer/images/logaa2.png' %}" alt="">
                                        <img src="{% static 'DiningServer/images/logaa2.png' %}" alt="">
                                        <img src="{% static 'DiningServer/images/logaa2.png' %}" alt="">
                                    </span>
                                </div>
                                <p>这是一段差评的评论文字</p>
                            </div>
                        </li>
                    </dl>

                </div>              

            </div>


        </li>

        
        <!-- 这是订单页面 -->
        <li class="box-index">

            <!-- 订单分类 -->
            <div class="box-order">
                <div class="order-box clearfix" id="order-box">
                    <p class="order-p">未付款<i></i></p>
                    <p class="order-p on">配送中<i></i></p>
                    <p class="order-p">已完成<i></i></p>
                </div>
            </div>



            <!-- 订单标题 -->
            <div class="box-cont">
                <ul id="order-cont">

                    <li class="cont-li">
                        
                        <!-- 一条数据 -->
                        <div class="cont-div">  
                            <div class="cont-top clearfix">
                                <p>燕南店（福田区燕南中42号） <img src="{% static 'DiningServer/images/right.png' %}"></p>
                                <p>家家专送</p>
                            </div>

                            <div class="cont-in clearfix">
                                <p>营养双拼套餐等2件商品</p>
                                <p>￥36</p>
                                <p>2016/3/1 15:04</p>
                                <p>待付款</p>  
                            </div>

                            <div class="cont-bot">去付款</div>
                        </div>

                    </li>


                    <li class="cont-li on">
                        
                        <div class="cont-onder">
                            <div class="onder-bg"></div>
                            <div class="onder-text">您还没有订单哦</div>
                            <a href=""><div class="onder-fanh">去下单</div></a>
                        </div>
                    
                    </li>

                    <li class="cont-li">
                        <!-- 一条数据 -->
                        <div class="cont-div">  
                            <div class="cont-top clearfix">
                                <p>燕南店（福田区燕南中42号） <img src="{% static 'DiningServer/images/right.png' %}"></p>
                                <p>家家专送</p>
                            </div>

                            <div class="cont-in clearfix">
                                <p>营养双拼套餐等2件商品</p>
                                <p>￥36</p>
                                <p>2016/3/1 15:04</p>
                                <p>已完成</p>  
                            </div>

                            <div class="cont-bot to-eval">去评价</div>
                        </div>

                    </li>


                </ul>
            </div>



            <div class="box-com">
        
                <div class="com-box">
                    <div class="com-fanh">
                        <a href=""><img src="{% static 'DiningServer/images/left.png' %}" alt=""></a>
                        <p class="com-fanhp">评价</p>
                    </div>
                    <p class="com-kong"></p>

                    <div class="com-cont">
                        <div class="cont-text">
                            <p>外卖骑士 &nbsp;&nbsp;配送员</p>
                            <p>送达时间 &nbsp;&nbsp;16:36</p>
                            <p>配送服务&nbsp;&nbsp;
                                <span class="js-star js-star1">
                                    <i class="off"></i>
                                    <i class="off"></i>
                                    <i class="off"></i>
                                    <i class="off"></i>
                                    <i class="off"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    
                    <div class="com-tlt">商品评价</div>
                    <div class="com-cont2">
                        <div class="com-text2">商品质量&nbsp;&nbsp;
                            <span class="js-star js-star2">
                                <i class="off"></i>
                                <i class="off"></i>
                                <i class="off"></i>
                                <i class="off"></i>
                                <i class="off"></i>
                            </span>
                        </div>  
                    </div>

                    <ul class="com-key">
                        <li>营养双拼套餐</li>
                    </ul>

                    <div class="com-tlt">商品评价</div>
                    <div class="com-tat">
                        <textarea name="" id="" cols="30" rows="10" class="com-tc" placeholder="（至少输入10字）您的意见很重要!
        来点评一下吧"></textarea>
                    </div>


                </div>


                <div class="com-btn" id="js-submit">提交评价</div>              
            </div>


        </li>

        <!-- 这是地址页面 -->
        <li class="box-index">地址</li>

    </dl>


    <script>
        // 去评价

        var oToEval = $("div.to-eval");
        var oBoxOrder = $("div.box-order");
        var oBoxCont = $("div.box-cont");
        var oBoxCom = $("div.box-com");
        oToEval.each(function(){
            $(this).on('click',function(){
                $(this).addClass("on");
                oBoxOrder.hide();
                oBoxCont.hide();
                oBoxCom.show();
            });
        });


        var $star = $('.js-star');
        $star.each(function (index,ele){
            operated($(ele).find('.off'));
        })

        $('#js-submit').on('click',function (){
            var star1 = $('.js-star1').find('.on').length;
            var star2 = $('.js-star2').find('.on').length;
            var text = $('.com-tat textarea').val().trim();
            if (star1==0 || star2==0 ) {
                alert('请打分');
                return false;
            }

            $.ajax({
                url:    "/DiningServer/judgeMeal/",
                data:{
                    "bill_id": '{{bill.id}}',
                    "judge_meal":    star1,
                    "judge_speed":   star2,
                    "judge_message": text
                },
                type:       "POST",
                dataType:　 "json",
                success:    function (data){
                    // window.location.href='/DiningServer/getHouseJudge/?house_id='+'{{bill.house_id}}';
                    // console.log(data);
                }
            })

            oBoxOrder.show();
            oBoxCont.show();
            oBoxCom.hide();

            // window.location.href='/DiningServer/getHouseJudge/?house_id='+'{{bill.house_id}}';
        });

    </script>

    <script>

        $("#oneveat").on('click',function(){
            $('div.index-head').hide();
            $('div.index-head2').hide();
            $('div.index-menu').hide();
            $('ol#food').hide();
            $('div.box-see').show();
        });

    </script>


</body>
</html>