<!doctype html>
<html>
<head>
{% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>我的订单</title>
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/dom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/confirm.css' %}">
</head>

<body>

    <div class="box-confirm">
        
        <div class="confirm-bg">
            <div class="confirm-tm"></div>
            <div class="confirm-p">
                <p></p>
                <p>您的订单已支付成功</p>
                <p id="confirm-tz">返回首页</p>
            </div>
        </div>
        
        <!-- 订单 -->
        <div class="confirm-order">
            <p>
                <span>订单号码</span>
                <span>{{ bill.id }}</span>
            </p>
            <p>
                <span>订单时间</span>
                <span>{{bill.add_time|date:"m-j G:i" }}</span>
            </p>
            <p>
                <span>支付方式</span>
                <span>在线支付</span>
            </p>
        </div>

        <!-- 菜品内容 -->
        <div class="confirm-cont">
            {% for meal in myMeals %}
            <p>
                <span>{{ meal.meal_name }}</span>
                <span>x{{ meal.buy_count }}</span>
                <span>￥{{ meal.meal_price }}</span>
            </p>
            {% endfor %}
        </div>

        <div class="confirm-price">
            <p>总价</p>
            <p>￥{{bill.all_fee}}</p>
        </div>

        <!-- 地址 -->
        <div class="confirm-add">
            <p>
                <span>配送地址</span>&nbsp;&nbsp;
                {% if user.sex == 1 %}
                <span>{{user.username}}（先生）{{user.phone}}</span>
                {% elif user.sex == 2 %}
                <span>{{user.username}}（女士）{{user.phone}}</span>
                {% else %}
                <span>{{user.username}}（先生）{{user.phone}}</span>
                {% endif %}
            </p>
            <p>{{ user.user_location }}</p>
        </div>

        <div class="confirm-fo">
            <p>
                <span>配送服务&nbsp;&nbsp;本订单由湘鄂情提供配送服务</span>
            </p>
        </div>

    </div>

<script type="text/javascript" src="{% static 'DiningServer/js/Adaptive.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/jquery-1.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/fastclick.js' %}"></script>
    <script>
        $('#confirm-tz').on('click',function(){
            window.location.href='http://xiangeqwd.9xi.com/DiningServer/index/';
        });
    </script>
</body>
</html>