<!doctype html>
<html>
<head>
{% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>我的订单</title>
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/dom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/myder.css' %}">
</head>

<body style="font-size:.15rem;">
{% for bill in myBills %}
    <div class="dom-tm" id="{{ bill.meal_id }}">
        <img src="{{ bill.meals.0.meal_url }}" class="dom-img">
        <div class="dom-tlt" style="margin-top:.1rem; margin-left:.3rem;">
            <p>下单时间：<span>{{ bill.add_time|date:"Y-m-j G:i:s" }}</span></p>
        </div>
    </div>
    <div class="dom-ma">
    {% for meal in myMeals %}
             <div class="dom-img" style="position:relative;">
                {% if meal.meal_url %}
                <div class="lt-lt" style="margin-left:.3rem; margin-top:.2rem;"><img src="{{ meal.meal_url }}" style="width:1.5rem; height:1.3rem;"></img></div>
                {% else %}
                <div class="lt-lt" style="margin-left:.3rem; margin-top:.2rem;"><img src="{% static 'DiningServer/images/index/prt_1.jpg' %}" style="width:1.5rem; height:1.3rem;"></div>
                {% endif %}

                 <p style="position:absolute; top:.3rem; right:.8rem;">{{ meal.meal_name }}</p>
                 <p style="position:absolute; top:.6rem; right:1.12rem;">￥{{ meal.meal_price }}</p>
                 <p style="position:absolute; top:.9rem; right:1.36rem;">x{{ meal.buy_count }}</p>
             </div>
             
    {% endfor %}
    <div class="myder-box">
         <p>{{user.username}}&nbsp;&nbsp;&nbsp; {{user.phone}}</p>
         <p>{{user.user_location}}{{user.door}}</p>
     </div>

    <div class="dom-mad" style="font-size:0.15rem; margin-top: 0;line-height: .3rem;"><p style="line-height: .3rem;">配送费{{ bill.delivery_fee }}</p>合计￥{{ bill.all_fee}}</div>
    <!-- {% if bill.bill_state == 0 %}
        <p style="font-size:0.15rem;text-align: right;margin-right: .3rem;line-height: .3rem;">未付款</p>
    {% elif bill.bill_state == 1 %}
        <p style="font-size:0.15rem;text-align: right;margin-right: .3rem;line-height: .3rem;">已付款</p>
    {% elif bill.bill_state == 2 %}
        <p style="font-size:0.15rem;text-align: right;margin-right: .3rem;line-height: .3rem;">配送中</p>
    {% elif bill.bill_state == 3 %}
        <p style="font-size:0.15rem;text-align: right;margin-right: .3rem;line-height: .3rem;">已退款</p>
    {% elif bill.bill_state == 4 %}
        <p style="font-size:0.15rem;text-align: right;margin-right: .3rem;line-height: .3rem;"></p>
    {% elif bill.bill_state == 5 %}
        <p style="font-size:0.15rem;text-align: right;margin-right: .3rem;line-height: .3rem;">已完成</p>
    {% endif %} -->
    </div>

    <em class="dom-bg"></em>
{% empty %}
    <p>抱歉，无可订单显示</p>
{% endfor %}

</body>
</html>