<!doctype html>
<html>
<head>
{% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>我的订单</title>
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/dom.css' %}">
</head>

<body>
{% for bill in myBills %}
    <div class="dom-tm" id="{{ bill.meal_id }}">
        <img src="{{ bill.meals.0.meal_url }}" class="dom-img">
        <div class="dom-tlt">
            <p>下单时间：<span>{{ bill.add_time|date:"Y-m-j G:i:s" }}</span></p>
        </div>
    </div>
    <div class="dom-ma">
    {% for mealList in myMeals %}
        {% for meal in mealList %}
        {% if meal.bill_id == bill.id %}
             <div class="dom-img">
                {% if meal.meal_url %}
                <div class="lt-lt"><img src="{{ meal.meal_url }}"></img></div>
                {% else %}
                <div class="lt-lt"><img src="{% static 'DiningServer/images/index/prt_1.jpg' %}"></div>
                {% endif %}

                 <p>{{ meal.meal_name }}</p>
                 <p>￥{{ meal.meal_price }}</p>
                 <p>x{{ meal.buy_count }}</p>
             </div>
        {% endif %}
        {% endfor %}
    {% endfor %}

    <div class="dom-mad" style="font-size:0.15rem;">合计<p class="dom-map">￥{{ bill.bill_totalling }}</p></div>
    {% if bill.bill_state == 0 %}
        <p style="font-size:0.15rem;">未付款</p>
        <!-- <p style="font-size:0.15rem;"><a href="http://xiangeqwd.9xi.com/DiningServer/createOrder/?bill_id={{bill.id}}&amp;sum={{bill.bill_totalling}}" style=" display: block;">去付款</a></p> -->
    {% elif bill.bill_state == 2 %}
        <p style="font-size:0.15rem;">配送中</p>
    {% elif bill.bill_state == 3 %}
        <p style="font-size:0.15rem;"><a href="http://xiangeqwd.9xi.com/DiningServer/judgeMeal?bill_id={{bill.id}}" style=" display: block;">去评价</a></p>
    {% endif %}
    </div>

    <em class="dom-bg"></em>
{% empty %}
    <p style="font-size:0.1875rem; text-align: center; padding-bottom:15px;">抱歉，无可订单显示</p>
{% endfor %}

</body>
</html>