{% for bill in bills %}
    <div class="dom-tm" id="{{ bill.meal_id }}">
        <img src="{{ bill.meals.0.meal_url }}" class="dom-img">
        <div class="dom-dt">
            <p>下单时间：<span>{{ bill.add_time }}</span></p>
            <p>总价<span>￥{{ bill.bill_totalling }}</span></p>
            <p id="dom-color"><span>{{ bill.bill_state }}</span></p>
        </div>
    </div>


    <div class="dom-ma">
        {% for item in bill.meals %}
        <p>{{ item.meal_name }}<span>￥{{ item.meal_price }}</span><span>{{ item.meal_count }}</span></p>
        {% endfor %}
        <div class="dom-mad">合计<p class="dom-map">￥{{ bill.bill_totalling }}</p></div>
    </div>
    <em class="dom-bg"></em>
{% empty %}
    <p style="font-size:0.1875rem; text-align: center; padding-bottom:15px;">抱歉，无可订单显示</p>
{% endfor %}