
<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>充值页面</title>
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/recharge.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
</head>
<body>

<div class="box-recharge">
    
    <div>
        <p>充值后，你可方便快捷的使用微信支付。微信钱包保障 您使用安全，请放心填写。</p>
    </div>

    <div>
        <p>
            <i>充值金额</i>
            <input type="text" placeholder="请输入充值金额">
        </p>
    </div>

    <div>立即充值</div>
        



</div>


<script type="text/javascript" src="{% static 'DiningServer/js/Adaptive.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/jquery-1.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/fastclick.js' %}"></script>
</body>
</html>