<!doctype html>
<html lang="en">
<head>
{% load staticfiles %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, user-scalable=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>休息中</title>
	<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/dom.css' %}">
	<script type="text/javascript" src="{% static 'DiningServer/js/Adaptive.js' %}"></script>
</head>
<body>
	<div class="box-rest">
		
		<div class="rest-box">
			<div class="rest-bg"></div>
			<p>商家休息中</p>
			<p>营业时间：{{open_time|date:"G:i"}} - {{close_time|date:"G:i"}}</p>
		</div>

		<!-- 跳转按钮 -->
        <div class="pos-fixed">
            <a class="pos-ordering"  href="http://xiangeqwd.9xi.com/DiningServer/index/">
                <img src="{% static 'DiningServer/images/index/log1a.png' %}" class="post-bg">
                <p class="pos-size2">订餐</p>
            </a>

            <a  class="pos-order" href="http://xiangeqwd.9xi.com/DiningServer/getOrdersByType/">
                <img src="{% static 'DiningServer/images/index/log2.png' %}" class="post-bg2">
                <p class="pos-size">订单</p>
            </a>

            <a class="pos-page" href="http://xiangeqwd.9xi.com/DiningServer/listMyDetailInfoPage/">
                <img src="{% static 'DiningServer/images/index/log3.png' %}" class="post-bg3">
                <p class="pos-size">地址</p>
            </a>

        </div>
	</div>
	
</body>
</html>