<!doctype html>
<html>
<head>
     {% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>送餐信息</title>
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/user2.css' %}">
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&amp;key=db4b618d20aa0ef729c77bafd0f481f6"></script>
</head>
<body style="background:#E5E5E5">
<form action="/DiningServer/modifyMyDetailInfo/" method="POST" id="form">
    <div class="box-branch">

        <div>联系人</div>


            
         <div>
             
             <ul class="box-bra">

                <li>
                    <p>姓名：</p>
                    <input type="text" placeholder="收件人姓名" name="username">
                </li>     
                <li>
                    <p>手机号码：</p>
                    <input name="phone" class="area-change" type="text" value="" placeholder="输入联系电话" />
                </li> 
                <li class="por-ac">
                    <p>性别：</p>
                    <input type="radio" value="male" checked="checked" name="sex" id="por-a0"/> 
                    <input type="radio" value="female" name="sex" id="por-a1"/>
                    <div id="por-a0a">男</div>
                    <div id="por-a1a">女</div>
                </li> 

            </ul>

         </div>


         <div>收货地址</div>

         <div>
             
             <ul class="box-bra">
                 
                <li>小区/大厦/学校</li>
                <li>街道/楼号/门牌号</li>
                <input type="text" name="region" value="" placeholder="请输入城区，例：宝安区" class="area-change">
                <input name="location" id="msh" class="area-change" type="text" value="" placeholder="请输入地址，例：xx街道xx楼xx室" />
                <input id="degree" style="display:none;" name="degree"  type="text"/>
                <div id="container" style="display:none;"></div>

             </ul>

         </div>
            
        <div class="submit-box">
            <input  class="data-submit" value="保存修改" id="sex1" type="submit">
        </div>


    </div>


</form>  
<!--用户信息界面，在该界面用户可以修改信息并保存，保存成功后依然跳转回该界面-->
<script type="text/javascript" src="{% static 'DiningServer/js/Adaptive.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/jquery-1.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/fastclick.js' %}"></script>
    <script>
        var textInp=document.getElementById('degree');
        var msh=document.getElementById('msh');

        var map=new AMap.Map("container",{
            zoom:10,
            center:[114.085947,22.547]
        });

        AMap.plugin('AMap.Geocoder',function(){
            var geocoder = new AMap.Geocoder({
                city: "0755"//城市，默认：“全国”
            });
            var marker = new AMap.Marker({
                map:map,
                bubble:true
            });
            msh.onchange = function(e){
                var address = msh.value;
                geocoder.getLocation(address,function(status,result){
                    if(status=='complete'&&result.geocodes.length){
                        //设置  标记（marker） 的位置
                        marker.setPosition(result.geocodes[0].location);
                        //  设置搜索地址在  map  的中心
                        map.setCenter(marker.getPosition());
                        textInp.value=result.geocodes[0].location.lng+","+result.geocodes[0].location.lat;
                    }else{
                        alert("请输入正确地址！");
                    }
                })
            };
            input.onchange();
        });
    </script>
<script>
    var oName,oPhone,oLocat,od;
    $('#sex1').click(function(){

        oName=$("input[name='username']").val();
        oPhone = $("input[name='phone']").val();
        oLocat =$("input[name='location']").val();
        od = $("input[name='degree']").val();
        oRegion = $("input[name='region']").val();

        var oP =  /^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/;
        var oreg = /^\w{4,}$/;

        if(oName == ''){
            alert('用户名字不能为空');
            return false;
        }
        else if(oPhone == ''){
            alert('用户电话不能为空');
            return false;
        }
        else if(od == ''){
            alert('用户地址填写错误');
            return false;
        }
        else if(!oP.test(oPhone)){
            alert('您输入的电话不对')
            return false;
        }
        else if(oRegion == ''){
            alert('用户区域不能为空');
            return false;
        }
        else if(oLocat == ''){c
            alert('详细地址不能为空');
            return false;
        }
        else if(!oLocat.test(oreg)){
            alert('您输入的电话不对')
            return false;
        }
        else if (oLocat == 'None'){
            alert('您输入的地址不对');
            return false;
        }
        else if (oLocat == 'null'){
            alert('您输入的地址不对');
            return false;
        }
        else{
            $('#form').submit();
        }
        
    });

</script>
</body>
</html>