<!doctype html>
<html lang="en">
<head>
{% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, user-scalable=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>送餐信息管理</title>   
    <link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/fopage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/dom.css' %}">
    <script type="text/javascript" src="{% static 'DiningServer/js/Adaptive.js' %}"></script>
    <script type="text/javascript" src="{% static 'DiningServer/js/jquery-1.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'DiningServer/js/fastclick.js' %}"></script>
</head>
<body>
    
    <div class="box-fopage">
        
        <ul class="fo-box">
        {% for user in userlist %}
            {% if user.openid %}
            <li class="fo-li" id="{{user.id}}">
                {% if user.username and user.phone and user.user_location and user.door %}
                <div class="fo-div">
                    <em class="fo-em fo-size">{{ user.username }}</em>
                    <em class="fo-size">{{ user.phone }}</em>
                    <p class="fo-p">{{ user.user_location }}{{ user.door }}</p>
                </div>
                <div class="fo-div2">
                    {% if user.default == 1 %}
                    <em class="fo-em2 fo-tc-1 fo-tc"><i><img src="{% static 'DiningServer/images/shopping/4.png' %}" class="fo-img-1 fo-img" id="{{user.id}}"></i><i class="fo-text2-1 fo-text2" >默认地址</i></em>
                    {% else %}
                    <em class="fo-em2 fo-tc"><i><img src="{% static 'DiningServer/images/shopping/3.png' %}" class="fo-img" id="{{user.id}}"></i><i class="fo-text2">设为默认</i></em>
                    {% endif %}
                    <!-- <em class="fo-em2 fo-abtn" id="{{user.id}}"><i><img src="{% static 'DiningServer/images/shopping/1.png' %}"></i><i class="fo-text">编辑</i></em> -->

                    <span id="{{user.id}}" class="fo-abtn"><em><img src="{% static 'DiningServer/images/shopping/1.png' %}" alt="" class="fo-imga"></em>编辑</span>

                    <!-- <em class="fo-em2 fo-bbtn" id="{{user.id}}"><i><img src="{% static 'DiningServer/images/shopping/2.png' %}"></i><i class="fo-text">删除</i></em> -->


                    <span class="fo-bbtn" id="{{user.id}}"><em><img src="{% static 'DiningServer/images/shopping/2.png' %}" alt="" class="fo-imgb"></em>删除</span>
                </div>
                <p class="fo-bd"></p>
                <div class="fo-disb">
                    <div class="fo-bg"></div>
                    <div class="fo-jid">
                        <p class="jid-p">是否确认删除该地址？</p>
                        <p class="fo-yes">删除</p>
                        <p class="jid-i"></p>
                        <p class="fo-no">取消</p>
                    </div>
                </div>
                {% endif %}
            </li>
            {% else %}
                还没有您的送餐信息，请新建地址
            {% endif %} 
        {% empty %}
            还没有您的送餐信息，请新建地址
        {% endfor %}
        </ul>

        <div class="fo-tj" id="fo-btn">
            <p>+新建地址</p>
        </div>

        <!--跳转按钮-->
        <div class="pos-fixed">
            <a class="pos-ordering"  href="http://xiangeqwd.9xi.com/DiningServer/index/">
                <img src="{% static 'DiningServer/images/index/log1.png' %}" class="post-bg">
                <p class="pos-size">订餐</p>
            </a>

            <a  class="pos-order" href="http://xiangeqwd.9xi.com/DiningServer/getOrdersByType/">
                <img src="{% static 'DiningServer/images/index/log2.png' %}" class="post-bg2">
                <p class="pos-size">订单</p>
            </a>

            <a class="pos-page" href="http://xiangeqwd.9xi.com/DiningServer/listMyDetailInfoPage/">
                <img src="{% static 'DiningServer/images/index/log3a.png' %}" class="post-bg3">
                <p class="pos-size2">地址</p>
            </a>

        </div>
        

    </div>


    <script>
        $('#fo-btn').on('click',function(){
            window.location.href='http://xiangeqwd.9xi.com/DiningServer/addMyDetailInfo/'
        });
    </script>
    <script>
    //设置默认
        var aBtn = document.getElementsByClassName('fo-text2');
        // var oImg = document.getElementsByClassName('fo-img');
        var oImg = $('.fo-img');
        var oTxt = $('.fo-text2');

        for (var i = 0; i < aBtn.length; i++) {
            aBtn[i].index = i;
            var index = i;
            aBtn[i].onclick = function(){
                for (var j = 0; j < aBtn.length; j++) {
                   for (var t = 0; t < oTxt.length; t++) {
                        oImg[j].src='{% static 'DiningServer/images/shopping/3.png' %}';
                        oTxt[t].innerHTML='设为默认';
                   };
                }
                
                oImg[this.index].src='{% static 'DiningServer/images/shopping/4.png' %}';
                oTxt[this.index].innerHTML='默认地址';
                $.ajax({
                    url:    "/DiningServer/listMyDetailInfoPage/",
                    data:{
                        "method": 'default',
                        "user_id": oImg[this.index].id
                    },
                    type:       "POST",
                    dataType:　 "json",
                    success:    function (data){
                    }
                })
            }
        };
    </script>
    <script>
    //编辑
        var oAbtn = $('.fo-abtn');
        

        for (var i = 0; i < oAbtn.length; i++) {
            oAbtn[i].index = i;
            oAbtn[i].onclick=function(){
                var locBtn = oAbtn[this.index].id;
                
                $.ajax({
                    url:    "/DiningServer/listMyDetailInfoPage/",
                    data:{
                        "method": 'edit',
                        "user_id": oAbtn[this.index].id
                    },
                    type:   "POST",
                    dataType:   "json",
                    success: function(data){

                    }
                })
                
                window.location.href='http://xiangeqwd.9xi.com/DiningServer/modifyMyDetailInfo/?user_id='+oAbtn[this.index].id;
            };

        };







    </script>
                


    <script>
        var oBbtn = $('.fo-bbtn');
        var oDiv = $('.fo-li');
        var aDisb = $('.fo-disb');
        var oYes = $('.fo-yes');
        var oNo = $('.fo-no');

        oBbtn.each(function(index){
            $(this).on("click",function(){
                aDisb.eq(index).show();
                oYes.each(function(i){
                    $(this).on("click",function(){
                        oDiv.eq(i).remove();
                        $.ajax({
                            url:    "/DiningServer/listMyDetailInfoPage/",
                            data:{
                                "method": 'delete',
                                "user_id": oDiv.eq(i).attr("id")
                            },
                            type:   "POST",
                            dataType:   "json",
                            success: function(data){

                            }
                        })
                    });
                });
                oNo.each(function(i){
                    $(this).on("click",function(){
                        aDisb.eq(i).hide();
                    });
                });
            });
        });

    </script>


</body>
</html>